{{> nav}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
    <li class="breadcrumb-item"><a href="/admin/clubs">Club Management</a></li>
    {{#if create}}
    <li class="breadcrumb-item active"  aria-current="page">New Club</li>
    {{else}}
    <li class="breadcrumb-item active"  aria-current="page">{{club.name}}</li>
    {{/if}}
  </ol>
</nav>

<div class="container-fluid">

    <h1>
        <i class="material-icons md-36">location_on</i> 
        {{#if create}} New Club {{else}} Club Details{{/if}}
    </h1>


    <div class="row">
        <div class="col-md-3">

            
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="material-icons" id="clubNew">golf_course</i> Courses
                    </h4>
                </div>
                <ul class="list-group list-group-flush" id="courses">
                </ul>
                <div class="card-body">
                    <div class="buttons">
                        {{#unless create}}<button type="button" class="btn btn-primary" id="courseNew">+</button>{{/unless}}
                    </div>
                </div>
            </div>
            

        </div>
        <div class="col-md-9">

            <div class="card">
                <div class="card-header">
                    <h4>{{club.name}}</h4>
                </div>
                <div class="card-body">
                    
            
                    <form>

                        {{#unless create}}
                        <input type="text" id="club_id" value="{{club._id}}" hidden>
                        {{/unless}}

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="clubName">Club Name</label>
                                    <input class="form-control" type="text" id="clubName" value="{{club.name}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="rating">Rating</label>
                                        <select class="form-control" id="rating">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" type="textarea" id="description">{{club.description}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="street">Street</label>
                                    <input class="form-control" type="text" id="street" value="{{club.address.street}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="zip">ZIP</label>
                                    <input class="form-control" type="text" id="zip" value="{{club.address.zip}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input class="form-control" type="text" id="city" value="{{club.address.city}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input class="form-control" type="text" id="country" value="{{club.address.country}}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input class="form-control" type="text" id="website" value="{{club.contact.website}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="text" id="email" value="{{club.contact.email}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input class="form-control" type="text" id="phone" value="{{club.contact.phone}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fax">Fax</label>
                                    <input class="form-control" type="text" id="fax" value="{{club.contact.fax}}">
                                </div>        
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Lattitude</label>
                                    <input class="form-control" type="text" id="location_lat" value="{{club.geocode.geometry.location.lat}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fax">Longitude</label>
                                    <input class="form-control" type="text" id="location_lng" value="{{club.geocode.geometry.location.lng}}">
                                </div>        
                            </div>
                        </div>       

                        <div class="buttons">
                            {{#if create}}
                            <button type="submit" class="btn btn-primary">Create</button>
                            {{else}}
                            <button type="submit" class="btn btn-primary">Submit</button>
                            {{/if}}
                            <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
                        </div>

                    </form>

                </div>
                <div class="card-footer text-muted">

                    {{#unless create}}
                    Created: {{created}} - Last Modified: {{lastModified}}
                    {{/unless}}
                    
                </div>
            </div>

        </div>
    </div>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link href="/stylesheets/admin.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


{{#if create}}
    <script src="/javascripts/admin/clubNew.js"></script>
{{else}}
    <script src="/javascripts/admin/clubDetails.js"></script>
{{/if}}
