

{{!-- <img class='card-img-top' src='https://source.unsplash.com/1024x300/?golf,course&{{ club.address.zip }}'> --}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/clubs">Suche</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ club.name }}</li>
  </ol>
</nav>

<div class="container">

<h1 id="name">{{ club.name }}</h1>
<div class="rating">
  <i class="material-icons md-18" id="clubNew">star</i>
  <i class="material-icons md-18" id="clubNew">star</i>
  <i class="material-icons md-18" id="clubNew">star</i>
  <i class="material-icons md-18" id="clubNew">star_half</i>
  <i class="material-icons md-18" id="clubNew">star_border</i>
</div>

<div class="row">
  <div class="col-md-8">

    <h2>Beschreibung</h2>
    <div>
      {{#if club.description}}
        {{ club.description }}
      {{else}}
        Keine Beschreibung vorhanden.
      {{/if}}
    </div>

    <h2>Karte</h2>
    <div id="map"></div>

  </div>
  <div class="col-md-4">

      <h2 class="label">Adresse</h2>
      <div id="address">
        {{ club.address.street }}<br>
        {{ club.address.zip }} {{ club.address.city }}<br>
        {{ club.address.country }}
      </div>

      <h2 class="label">Kontaktdaten</h2>
      <div id="contact">
          <div id="phone">{{ club.contacts.[0].value }}</div>
          <div id="email">{{ club.contacts.[1].value }}</div>
          <div id="website"><a href="{{ club.contacts.[2].value }}">{{ club.contacts.[2].value }}</a></div>
      </div>


  </div>
</div>




</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/stylesheets/details.css" rel="stylesheet">

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrAAj-TXLkdlUbamYsu_g7QOsMEhatmTg&callback=initMap"
  type="text/javascript"></script>

<script>
var map;
var service;
var infowindow;

function initMap() {

  var club = new google.maps.LatLng({{ club.geometry.location.lat }}, {{ club.geometry.location.lng }});

  var map = new google.maps.Map(document.getElementById('map'), {center: club, zoom: 14});
  var marker = new google.maps.Marker({position: club, map: map});



}
</script>

